{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block title %}
All News
{% endblock %}

{% block content %}
<div class="container">
  <br><br>
  <h1>Add New News</h1>
  <form enctype="multipart/form-data" action="{% url 'create-news' %}" method="post">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Create News" class="btn btn-primary">
  </form>
  <br><br>
</div>
{% endblock %}