{% extends '../base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/img1.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/img2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/img3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-4">
  <div class="row">
    <h3 class="center">Latest News.</h3>
  </div>
  <div class="row">
    {% for i in news %}
    <div class="col col-md-6 col-sm-12 col-lg-3">
      <div class="card mb-4">
        <img src="{{ i.image.url }}" class="card-img-top" alt="Not Loaded">
        <div class="card-body">
          <h5 class="card-title">{{i.headline}}</h5>
          <p class="card-text">Date: {{i.time|date:"Y-m-d"}}</p>
          <p class="card-text">Author: @{{i.user.username}}</p>
          <a href="{% url 'show-news' i.id %}" class="btn btn-primary">Read Full</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<style>
  /* .carousel-inner {
    background-position: center;
  } */
  .carousel-item {
    object-fit: contain;
    height: 500px;

  }
  .center {
    text-align: center;
  }
  .card-img-top {
    height: 15rem;
  }
</style>
<h1>Hello from the news world.</h1>
{% endblock %}