{% extends '../base.html' %}

{% block title %}
All News
{% endblock %}

{% block content %}
<div class="container">
  <br><br>
  <h1>{{object.headline}}</h1>
  <p>{{object.content|safe}}</p>
  <img width="300" src="{{object.image.url}}" alt="Image">
  <br><br>
</div>
{% endblock %}