{% extends '../base.html' %}

{% block title %}
All News
{% endblock %}

{% block content %}
<div class="container">
  <h1>All News</h1>
  <ul>
    {% for i in newss %}
    <li>{{i.headline}}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}