{% extends '../base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <p>
    Title: <strong>{{news.headline}}</strong>
  </p>
  <img src="{{news.image.url}}" alt="Image" width="400">
  <br><br><br>
  {{news.content|safe}}
  <br><br><br>
</div>
{% endblock %}