{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container my-4">
  <h1>Login  Now</h1>
  <form action="{% url 'login' %}" method="post" class="">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Login Now" class="mt-4 btn btn-primary">
  </form>
</div>
{% endblock %}